.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: gainsboro;
    padding: 16px 0 16px 0;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding: 16px 0 16px 0;
    text-align: center;
}